<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>test.manticore.chasemcdermott.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bloctoc2c51091-a729-4bc3-8f3d-b3b5771d134b</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>blocto-dev</string>
		<string>blocto</string>
		<string>blocto-testnet</string>
	</array>
</dict>
</plist>
